.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #AEE8C5;
}

.nombre h1 {
    color: #2D2D2D;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    }

.filtros {
    display: flex;
    gap: 15px;
}

.filtros button {
    border: none;
    background: #F88CB5;
    color: #2D2D2D;
    padding: 12px 22px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}

.filtros button:hover {
    background: #F88CB5;
    transform: translateY(-3px);
}

.contador {
    background: #F88CB5;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
}

#contador {
    background: #BFA8F5;
    padding: 5px 12px;
    border-radius: 50%;
    margin-left: 10px;
}